<br>
<br>
<div class="container">
  <form novalidate #form="ngForm" (ngSubmit)="submit()">
    <mat-horizontal-stepper [linear]="false" #stepper>
      <mat-step>
        <ng-template matStepLabel>
          Select dentist
        </ng-template>
        <br>
        <mat-form-field appearance="outline">
          <mat-label>Dentist's name</mat-label>
          <mat-select [(ngModel)]="dentist"
                      [name]="'dentist'"
                      required>
            <mat-option *ngFor="let dentist of dentists"
                        [value]="dentist">
              {{ dentist.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form?.controls['dentist']?.hasError('required')">You must select a dentist</mat-error>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext type="button" [color]="'primary'">Next</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>
          Select date
        </ng-template>
        <br>
        <mat-form-field appearance="outline">
          <mat-label>Enter a date</mat-label>
          <input matInput
                 [min]="currentDate()"
                 [(ngModel)]="date"
                 [matDatepicker]="datepicker"
                 [name]="'date'"
                 required/>
          <mat-datepicker-toggle matSuffix [for]="datepicker">
          </mat-datepicker-toggle>
          <mat-datepicker #datepicker>
          </mat-datepicker>
          <mat-error *ngIf="form?.controls['date']?.hasError('required')">You must enter a date</mat-error>
          <mat-error *ngIf="form?.controls['date']?.hasError('matDatepickerMin')">Date cannot be in the past</mat-error>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious type="button">Back</button>
          <button mat-button matStepperNext type="button" [color]="'primary'">Next</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>
          Select time
        </ng-template>
        <br>
        <mat-form-field appearance="outline">
          <mat-label>Select time</mat-label>
          <input matInput
                 [(ngModel)]="time"
                 type="time"
                 [name]="'time'"
                 required/>
          <mat-error *ngIf="form?.controls['time']?.hasError('required')">You must enter a time</mat-error>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious type="button">Back</button>
          <button mat-button type="submit" [color]="'primary'" [disabled]="form.invalid">
            Submit
          </button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </form>
</div>
