ngx-datatable {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  margin-right: 15px;
  float: left;
}

i:hover {
  cursor: pointer;
}
