<br>
<br>
<div class="container">
  <ngx-datatable [rows]="rows"
                 [loadingIndicator]="rows === undefined"
                 [headerHeight]="40"
                 [footerHeight]="60"
                 [scrollbarH]="false"
                 [rowHeight]="45"
                 class='material striped'
                 columnMode="flex"
                 limit="10"
                 [sorts]="[{prop: 'dentistvisit.dentist.name', dir: 'desc'}]">

    <ngx-datatable-column [flexGrow]="0.5" [sortable]="false">
      <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex"
                   ngx-datatable-cell-template>
        <ul>
          <li>
            <i class="fa fa-pencil"
               title="Modify"
               (click)="edit(row)">
            </i>
          </li>
          <li>
            <i class="fa fa-trash-o"
               title="Delete"
               (click)="delete(row)">
            </i>
          </li>
        </ul>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [flexGrow]="1.5" name="Name" prop="dentistVisit.dentist.name">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        <div>
          {{ row?.dentistVisit?.dentist?.name }}
        </div>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [flexGrow]="1.5" name="Date" prop="date" [comparator]="dateComparator">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        <div>
          {{ formatDate(row) }}
        </div>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [flexGrow]="1.5" name="Time" prop="time" [sortable]="false">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        <div>
          {{ formatTime(row) }}
        </div>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
