<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Dentist Application</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link"
         (click)="navigateToNewBooking()"
         [routerLinkActiveOptions]="{ exact: true }"
         [routerLink]="[newBookingRoute()]"
         [routerLinkActive]="'active'">
        New booking
      </a>
      <a class="nav-item nav-link"
         (click)="navigateToBooking()"
         [routerLinkActiveOptions]="{ exact: true }"
         [routerLink]="[bookingRoute()]"
         [routerLinkActive]="'active'">
        Bookings
      </a>
    </div>
  </div>
</nav>
