<form novalidate #form="ngForm">
  <h1 mat-dialog-title>
    Edit appointment
  </h1>
  <div mat-dialog-content>
    <mat-form-field appearance="outline" *ngIf="dentistVisit">
      <mat-label>
        {{ dentistVisit.dentist.name }}
      </mat-label>
      <mat-select [placeholder]="dentistVisit.dentist.name"
                  disabled>
      </mat-select>
      <mat-error *ngIf="form?.controls['dentist']?.hasError('required')">You must select a dentist</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input matInput
             [min]="currentDate()"
             [(ngModel)]="date"
             [matDatepicker]="datepicker"
             [name]="'date'"
             required/>
      <mat-error *ngIf="form?.controls['date']?.hasError('required')">You must enter a new date</mat-error>
      <mat-error *ngIf="form?.controls['date']?.hasError('matDatepickerMin')">Date cannot be in the past</mat-error>
      <mat-datepicker-toggle matSuffix [for]="datepicker">
      </mat-datepicker-toggle>
      <mat-datepicker #datepicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Edit time</mat-label>
      <input matInput
             [(ngModel)]="time"
             type="time"
             [name]="'time'"
             required/>
      <mat-error *ngIf="form?.controls['time']?.hasError('required')">You must enter a new time</mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="close()">Cancel</button>
    <button *ngIf="form.valid && form.touched" mat-button type="submit" [disabled]="form.invalid" (click)="save()">Save</button>
  </div>
</form>
